@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root {
    --color-general-background: #fafafa;
    --color-navbar-background: #f8eade;
    --color-header-background: #19323c;    
    --color-shadow: hsl(0, 100%, 73%);
    --color-logo: #c02f78;
    --color-profile: rgb(63,57,67);    
}
body {
    margin: 0;
    background-color: var(--color-general-background);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
._sectionHeading{
    padding: 15px;    
}
._sectionHeading > *{
    font-weight: bold;
    font-size: 2.4rem;
}
._odd-section-colors{
    background-color: var(--color-header-background);
    color: var(--color-navbar-background);
}
._even-section-colors{
    background-color: var(--color-navbar-background);
}




/* Navbar */
#_navbar{
    padding: 20px 0;
    transition: 0.4s;
}
.navbar {
    width: 100vw;
    position: fixed!important;
    top: 0px;
    z-index: 1;
    background-color: var(--color-navbar-background)!important;
    box-shadow: 0px 1px 5px -2px var(--color-logo);  
}
.navbar-brand {
    color: var(--color-logo);
    font-size: 1.8rem;
    transition: font-size 400ms, color 200ms;
}
.navbar-brand:hover {
    color: black;
}
.nav-link {
    font-size: 1.4rem;
    transition: font-size 400ms, color 100ms;
}
.nav-link:hover{
    color: var(--color-logo)!important;
}
@media (max-width: 540px){
    .navbar-brand:hover {
        color: var(--color-logo);
    }
    .nav-link:hover{
        color: black;
    }
}




/* Presentation header */
#_presentationHeader {
    padding: 160px 0 220px 0;
    align-items: center;    
    text-align: center;
}
#_header-picture {        
    margin-top: 30px;    
    border: 2px solid rgb(63,57,67);
    border-radius: 50%;       
    box-shadow: 3px 3px 0px hsl(0, 100%, 60%);     
}
#_presentationHeader h3{
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 2.8rem;
    font-weight: 500;
}
#_header-separator{
    display: flex;
    justify-content: center;
}
#_header-separator > img {
    width: 16%;
}
#_separator-left{
    margin-right: 4px;
}
#_separator-right{
    margin-left: 4px;
}
#_presentationHeader p{
    font-size: 1.5rem;
}
@media (max-width: 576px) {
    #_header-picture {        
        width: 260px;
    }
    #_presentationHeader h3{
        font-size: 2.2rem;
    }
    #_presentationHeader p{
        font-size: 1.2rem;
    }
}




/* Portfolio main */
#_portfolio{
    padding: 80px 0 120px;
    min-height: 500px;
    text-align: center;
}
#_portfolio > p {
    font-size: 1.2rem;
    padding-bottom: 20px;
    margin: 0 13px 30px;
}
._portfolio .col-sm{
    text-align: center;
}
._portfolio-image {
    border: 0px solid #000;
    border-radius: 8%;
    box-shadow: 2px 2px 0px var(--color-shadow);
}
._project-boxes{
    transition: 700ms;    
}
._project-boxes:nth-child(2){
    transition-delay: 100ms;
}
._project-boxes:nth-child(3){
    transition-delay: 200ms;
}
._project-boxes:nth-child(4){
    transition-delay: 300ms;
}
._project-boxes:nth-child(5){
    transition-delay: 400ms;
}
._project-boxes-invisible{
    transform: translateX(-12%);
    filter: blur(5px);
    opacity: 0; 
}
._project-boxes figure{
    transition: 200ms;
}
._project-boxes figure:hover{
    transform: scale(1.07);
}

@media (max-width: 768px){
    ._project-boxes:nth-child(2){
        transition-delay: 100ms;
    }
    ._project-boxes:nth-child(3){
        transition-delay: 100ms;
    }
    ._project-boxes:nth-child(4){
        transition-delay: 200ms;
    }
    ._project-boxes:nth-child(5){
        transition-delay: 100ms;
    }
    ._project-boxes figure:active{
        transform: scale(1.07);
    }
}
@media (max-width: 575px){
    ._project-boxes:nth-child(2){
        transition-delay: 100ms;
    }
    ._project-boxes:nth-child(3){
        transition-delay: 200ms;
    }
    ._project-boxes:nth-child(4){
        transition-delay: 300ms;
    }
    ._project-boxes:nth-child(5){
        transition-delay: 400ms;
    }
}




/* About me article */
#_aboutme{    
    padding: 80px 0 100px;
    min-height: 400px;    
    text-align: center;
}
#_presentation-text > p {
    margin: 0 12px;
}
#_presentation-text > span {
    font-size: 1.5rem;
}




/* Contact section */
#_contact-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 10px;
}

/* Contact form */
#_contact-form{
    display: flex;
    flex-direction: column;
    
}
._socialHeading > *{
    font-weight: bold;
    font-size: 2rem;
}
._socialHeading{
    padding-left: 0;
    padding-right: 0;
}
._input-div{
    width: fit-content;
    position: relative;
    margin: 0;
    padding: 15px 0;
}
._input-label{
    position: absolute;
    top: 0;
    left: 0;
    color: #212529be;
    transition: opacity 0.1s, transform 0.1s;
    font-size: 1.4rem;    
    cursor: text;
}
._input-element{
    width: max(280px, 18vw);    
    padding: 10px 0 5px;
    background-color: var(--color-navbar-background);
    border-style: none none solid none;
    border-width: 1px;
    font-size: 1.5rem;
    transition: border-color 200ms;
}
textarea{
    height: 180px;
}
._input-element:focus{
    outline: none;
    border-color: var(--color-logo);
}
._input-element::placeholder{
    opacity: 0;
}
._input-element:focus ~ label, ._input-element:not(:placeholder-shown) ~ label{
    opacity: 0.7;
    transform: scale(0.7) translateY(-1rem);
}
._invalid-feedback{
    color: red;
}
._is-invalid{
    background-image: url(../images/icons8-general-warning-sign-48.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.3rem;
}
#_submit-button{
    padding: 5px 12px;
    width: 100px;
    background-color: #3b5b69f8;
    border-radius: 4px;
    color: var(--color-general-background);
    align-self: flex-start;
}
#_submit-button:disabled{
    background-color: #3b5b694f;
}
#_submit-button:focus{
    outline: 1px solid black;
}
#_secret-iframe{
    display: none;
}
#_thanks-message{
    text-align: center;
}
#_thanks-message > p{
    margin-bottom: 4px;
    font-style: italic;
    font-weight: bold;
}


/* Social networks section */
#_social-links-container{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}
._social-links{
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-logo);
}




/* Copyright */
#_copyright{
    padding: 10px 0;
    text-align: center;
}
#_copyright > p{    
    font-size: 0.8rem;
    padding: 2px 0;
    margin: 0;  
}
