:root {
    --color-general-background: #fafafa;
    --color-navbar-background: #f8eade;
    --color-profile: rgb(63,57,67)
}
body {
    margin: 0;
    background-color: var(--color-general-background);
}



/* Navbar */
#_navbar{
    padding: 20px 0;
    transition: 0.4s;
}
.navbar {
    width: 100vw;
    position: fixed!important;
    top: 0px;
    z-index: 1;
    background-color: var(--color-navbar-background)!important;
    box-shadow: 0px 1px 5px -2px #c02f78;  
}
.navbar-brand {
    color: #c02f78;
    font-size: 1.8rem;
    transition: font-size 0.4s;
}
.nav-link{
    font-size: 1.4rem;
    transition: 0.4s;
}



/* Presentation header */
._presentationHeader {
    padding: 140px 0 100px 0;
    align-items: center;
}
._presentationHeader > img {        
    margin-top: 30px;    
    border: 2px solid rgb(63,57,67);
    border-radius: 50%;       
    box-shadow: 2px 2px 0px rgb(255, 169, 99), 4px 4px 0px red;     
}



/* Portfolio main */
._portfolio .col-sm{
    text-align: center;
}
._portfolio-image {
    border: 0px solid #000;
    border-radius: 8%;
    box-shadow: 2px 2px 0px red;
}



/* About me article */



/* Contact form */



/* Footer social */
#_social a{
    text-decoration: none;
}



/* Copyright */
#_copyright{
    background-color: rgb(63, 57, 67);
}
